<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Chat Application</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <div class="main text-white bg-zinc-900 h-screen w-full flex justify-center items-center">
    <div class="w-100 h-90  bg-black rounded-lg m-1 p-8">
      <form action="/rooms" method="post">
        <h6>Room ID </h6> 
        <input name="roomid" type="text" class="border-1 border-indigo-800 rounded-lg p-2 m-2 outline-none"  placeholder="Enter room Id" />
        <div class="buttons flex mt-9 gap-7 justify-center items-center">
          <button class="bg-blue-800 rounded-lg p-2  cursor-pointer" type="submit">Create Room</button>
          <button class="bg-blue-800 rounded-lg p-2 cursor-pointer" type="submit">Join Room</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>